* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    z-index: 1;
    height: 50px;
    align-items: center;
    
}

nav {
    width: 700px;
    display: flex;
    align-items: center;
    grid-column: 12;

}

nav>ul {
    list-style: none;
    
}

nav>ul>li {
    display: inline;
    padding: 10px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #262B2F;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;

}

header>img {
    width: 40px;
    margin-left: 10px;
}
nav>button {
    width: 150px;
    height: 25px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
}
hero{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(4,1fr);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}
hero>section:nth-child(1){
    margin-top: 80px;
    grid-column: 2/9;
    grid-row: 1/4;
    z-index: 2;
    margin-left: 20px;
}
.myPicture{
    width: 600px;
    height: 415px;
    border-radius: 100%;
    grid-column: 8/9;
    grid-row: 1/4;
    margin-top: 40px;
    margin-left:80px ;
    z-index: 1;
}
.myPicture>img{
    width:700px;
    margin-bottom: 50px;
    border-radius: 100%;
    background-color: #262B2F;
    box-shadow: 3px  4px 11px  10px rgb(200, 200, 200);
       
}
hero>section>.content>h1{
    margin: 0;
    font-size: 5rem;
    color: rgb(180, 180, 180);
    font-family: "Caveat Brush", cursive;
    font-weight: 800;
    font-style: normal;

}
hero>section>.content>h3{
    margin: 0;
    font-size: 50px;
}
hero>section>.content>h4{
    margin: 0;
    font-size:35px;
    color: #99AEF5;
    text-shadow: 3px 3px 4px rgb(83, 83, 83) ;
}
hero>section>.content>p{
    margin: 0;
    font-size: 20px;
    color: #262B2F;
}
hero>section>div:nth-child(1)>div>button{
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    margin-right: 10px;
}
hero>section>div:nth-child(1)>div>button:nth-child(1){
    background-color: #262B2F;
    color: white;
    
}
hero>section>.content>p>a{
    color: #262B2F;
}
hero>section>div:nth-child(1)>div>button:nth-child(2){
    border:2px solid #262B2F;
    background: white;
    color: #262B2F;
    
}
hero>section>div:nth-child(1)>div>a{
    height: 100px;
}
hero>section>div:nth-child(1)>div>a>i{
    color: #262B2F;
    
}
.aboutMe{
    
}

.aboutMe>section{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    color: #262B2F;
    text-align: start;
    grid-column: 5;
}
.aboutMe>section>h1{
    margin-left: 100px;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;


}
.aboutMe>div{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-top: 5%;
}
.aboutMe img{
    width: 600px;
    border-radius: 100%;
    background-color: #262B2F;
    grid-column: 1/5;
    grid-row: 2/3;
}
.aboutMe>div>section{
    grid-column:5/10;
    grid-row: 2/3;
}
.aboutMe>div>section>div>h2{
    color: gray;
    font-size: 50px;
    padding: 0;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aboutMe>div>section>div>h3{
    color: gray;
    font-size: 40px;
    padding: 0;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aboutMe>div>section>div>p{
    font-size: 16px;
    font-weight: bold;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aboutMe>div>section>div:nth-child(2)>div>#name{
    display: inline-block;
    width: 300px;    
    
}
.aboutMe>div>section>div:nth-child(2)>div>#age{
    display: inline-block;   
    
}
.aboutMe>div>section>div:nth-child(2)>div>#address{
    display: inline-block;   
    
}
.aboutMe>div>section>div:nth-child(2)>div>label{
    border: 1px solid;
    width: 300px;
    margin-left: 10px;
}
.aboutMe>div>section>div:nth-child(2)>div{
    width: 90%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    align-content: center;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
#skill{
    position: static;

}
#skill>section{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    color: #262B2F;
    text-align: start;
    
    
}
#skill>section>h1{
    margin: 0;
    margin-top: 20%;
    margin-left: 100px;
    padding: 0;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;

    
}
#skill>main{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#skill>main>section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px 10px;
    
      
    
}
#skill>main>section>.card{
    margin: 10px;
    box-sizing: content-box;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 13px;
    background-color: #262B2F;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: 10px 10px 5px gray;

}
#skill>main>section>.card>div:first-child>img{
    width: 250px;
    height: 120px;
}
#education>#topic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#education>#topic>h1{
    grid-column: 3;
    margin: 0;
    margin-top: 20%;
    padding: 0;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
#education>#main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
#education>#main>#eduDetails{
    padding: 5px;
    width: 300px;
    height: fit-content;
    margin: 5px;
    color: white;
    background-color: #262B2F;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgb(98, 98, 98);

}
#education>#main>#eduDetails>div>h3{
    padding-bottom: 5%;
    padding-left: 10%;
    padding-top: 2%;
    color: rgb(197, 197, 197);
}
#education>#main>#eduDetails>div>p{
    font-size: 1rem;
    width: 270px;
    align-content: center;
}
#education>#main>img{
    width: 300px;
    height: 550px;
    margin: 5px;

}
#assignment>h1{
    margin-left: 100px;
    margin-top: 100px;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
#assignment>section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#assignment>section>.card{
    margin: 5px;
    width: 200px;
    height: 250px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    background-color: #262B2F;
    border-radius: 10px;
    
}
#assignment>section>.card>img{
    width: 200px;
    height: 130px;
    
}
#assignment>section>#card2{
    width: 300px;
    height: 350px;
}
#assignment>section>#card2>img{
    width: 300px;
    height: 180px;
}
#assignment>section>button{
    border-radius: 100%;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: #262B2F;
    border-style: none;
}
#assignment>section>button>i{
    color: white;
}
#assignment>section>.card>.btn{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#assignment>section>.card>div>button{
    border-radius: 10px;
    border: 2px solid white;
    background-color: #262B2F;
    color: white;
    width: 50%;
    height: 40%;
    font-size: 12px;
}
#assignment>section>#card2>div>button{
    margin-top: 35%;
}
#assignment>button{
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 10px ;
    background-color:white;
    border:2px solid #262B2F;
    width: 130px;
    height: 25px;

}


