body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;

}

header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 1;
    
}

nav {
    width: 700px;
    display: flex;
    align-items: center;
    

}

nav>ul {
    list-style: none;
    
}

nav>ul>li {
    display: inline;
    padding: 10px;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;

}

header>img {
    width: 40px;
    margin-left: 10px;
}

header {
    height: 50px;
    align-items: center;
}
nav{
   
    
}
nav>button {
    width: 150px;
    height: 25px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
}
hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    
}
hero>section:nth-child(1)>.content{
   
}
hero>section:nth-child(1)>.content>h1{
    margin: 0;
    font-size: 70px;
}
hero>section:nth-child(1)>.content>h3{
    margin: 0;
    font-size: 50px;
}
hero>section:nth-child(1)>.content>h4{
    margin: 0;
    font-size: 35px;
}
hero>section:nth-child(1)>{
  

}

hero>section:nth-child(2)>img{
    width: 700px;
    
    
    
}
.heroPicture{
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 100%;
  
    
}